/* 
    General Styles
*/
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    scrollbar-color: var(--green) transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

body {
    background-color: black;
    font-family: "Cal Sans", sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    --border: #030f08;
    --border-lighter: #0e1d31;
    --green: #14ff9a;
    --light-green: #b5fcdd;
    --lightest-green: #e2fff3;
    --blue: #40a6ff;
}

/* Holds both components */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    gap: 2rem;
    padding: 0 2rem;
}

h1 {
    color: var(--green);
}

h2 {
    color: var(--light-green);
}

h3 {
    color: var(--lightest-green);
}

a {
    color: var(--blue);
}
/* 
    ContentPanel 
*/
/* The CONTENT only */
.content-container {
    flex: 1 1 32rem;
    border-radius: 1rem;
    height: min(36rem, 80vh);
    padding: 1.5rem;
    overflow: auto;
    margin: 0;
    border: 0.56rem solid white;
    border-radius: 3rem;
    /* outline: 9px solid white;
    outline-offset: 17px; */

}

.gallery {
    display: flex;
    gap: 3rem 0;
    flex-wrap: wrap;
    align-items: center;
}
.gallery-item {
    width: 30%;
}
.gallery-item > img {
    width: min(200px, 90%);
    height: auto;
}

/*
    NetworkLogo 
*/

.network {
    display: flex;
    align-items: stretch;
    width: clamp(16rem, 30vw, 30rem)
}

svg.logo {
    height: auto;
    margin: 2rem 0;
}

button {
    color: white;
    border: none;
    background-color: transparent;
    font-family: "JetBrains Mono", sans-serif;
}

/* The buttons; container and children */
div.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 0;
    gap: 1.5rem;
    height: auto;
}

.tabs > button {
    padding: 1.2rem;
    color: #2abc7d;
    text-decoration: underline;
    cursor: pointer;
}