@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
}

body {
    background-color: rgb(18, 26, 44);
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

nav a {
    padding-right: 1rem;
    display: flex;
    align-items: center;
}
nav {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.466);
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
}


h1 {
    color: #e392fa;
    margin-top: 0px;
}

h2 {
    color: #93a9f9;
    margin: 10px 0;
}

a {
    color: #308af2;
}
main {
    margin: auto;
    padding: min(3%);
    max-width: 1240px;
}

kbd {
    font-size:large;
}

.link-container {
    display: flex;
    font-size: large;
}

.link-container > * {
    /* all children  */
    padding: 5px;
}

.back {
    text-decoration: none;
}

.logo {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}
.info {
    white-space: pre-line;
    max-width: 600px;
    max-height: 374px;
    overflow-y: auto;
    background-color: #3694ff17;
    padding: 1rem;
    border-radius: 1rem;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) rgba(255, 255, 255, 0);


}
.label {
    padding: 0.5rem 2rem;
}
.center {
    text-align: center;
}
.col {
    padding: 2rem;
}

.tab{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #e392f7e5;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: small;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.game {
    padding: 1.5rem;
    border-radius: 2rem;
}